<!DOCTYPE html>
<html>
<head>
    <title> construnction work order</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="csrf-token" content="kmapods5wQ5L1hn7rcR9OPst7EsN0gC7SrHh3m9K"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,300,600,700">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar-menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
<body class="tooltips">
<div class="container">

    <div class="header content rows-content-header">
        <button class="button-menu-mobile show-sidebar">
            <i class="fa fa-bars"></i>
        </button>
        <div class="navbar navbar-default" role="navigation">
            <div class="container">

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav visible-lg visible-md limit-chars">
                        <ul class="breadcrumb">
                            <a href="http://127.0.0.1:5000/index">
                                <i class="zmdi zmdi-view-dashboard zmdi-hc-fw" title="Orders"></i>
                            </a>
                            <a href="http://127.0.0.1:5000/getProducts">
                                <i class="zmdi zmdi-assignment zmdi-hc-fw" title="Products"></i>
                            </a>
                            <a href="http://127.0.0.1:5000/getEmployees">
                                <i class="far fa-id-badge" style='color:black' aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Employees"></i>
                            </a>
                            &nbsp;
                            <a href="{{url_for('logout')}}">
                                <i class="fa fa-sign-out" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="logout"></i>
                            </a>
                        </ul>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="right content-page">
        <div class="body content rows scroll-y">
            <div class="box-info full" id="taskFormContainer">
                <h2>Customer</h2>
                <div class="panel-body pt-0">
                    <div class="row mb-4">
                        <div class="col-sm-12">
                            <button type="button" class="btn btn-sm btn-primary pull-right" data-toggle="modal" data-target="#employeeModal">
                                Add New Customer
                            </button>
                        </div>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>designation</th>
                        <th>date of order</th>
                        <th style="width: 150px">Action</th>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade-scale" id="employeeModal" role="dialog" data-backdrop="static">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add New Customer</h4>
                </div>
                <div class="modal-body">
                    <form id="employeeForm">
                        <input type="hidden" name="id" id="id" value="0">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label > First Name</label>
                                    <input class="form-control" placeholder="first name" name="first_name" id="first_name" type="text" value="">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label > Last Name</label>
                                    <input class="form-control" placeholder="last name" name="last_name" id="last_name" type="text" value="">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label >Designation</label>
                                    <input class="form-control" placeholder="designation" name="designation" id="designation" type="text" value="">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label >Date of order</label>
                                    <input class="form-control" placeholder="date of joining" name="date_of_joining" id="date_of_joining" type="date" value="">
                                </div>
                            </div>
                            
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="saveEmployee">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{url_for('static', filename='js/package/jquery.min.js')}}"></script>
<script src="{{url_for('static', filename='js/custom/common.js')}}"></script>
<script src="{{url_for('static', filename='js/custom/employee.js')}}"></script>
<script src="{{url_for('static', filename='js/package/bootstrap.min.js')}}"></script>
</body>
</html>